/* Amarillo: # FFE521
Magenta: #FF009E
Verde: #56F89A
Negro: #000000 
font-family: 'Open Sans', sans-serif;
font-family: 'Bitter', serif;
*/

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(247, 247, 247, 0.808);
  box-sizing: border-box
}

header {
  font-family: 'Bitter', serif;
}

nav {
  background-color: #FFFFFF;
}

.card-content {
  background-color: rgba(255, 229, 33, 0.6);
  box-shadow: 5px 5px 10px #c3c3c3;
}

.card-title {
  font-weight: bold !important;
  font-size: 20px !important;
}

.card {
  background-color: #FFE521;
  padding: 0.5vh;
  box-shadow: 1px 1px 10px #C3C3C3;
}

.list-student {
  border: none;
  border-radius: 5px;
}

.container-images {
  background-color: #FFFFFF;
  padding: 5px;
  /* box-shadow: 1px 1px 1px rgb(255, 255, 255) */
  /* margin-bottom: 10px; */
  border-radius: 10px;
}

.container-images div {
  cursor: move
}

.container-images img {
  box-shadow: 3px 3px 5px #C3C3C3;
  border: 1px solid #C3C3C3;
}

.mt-5 {
  margin-top: 5px;
  margin-bottom: 15px;
}

.btns button {
  background-color: #FFE521;
  color: #000000;
}

.btns button:hover {
  background-color: #b9f6ca;
}

.btns button:focus {
  background-color: #b9f6ca;
}

.card-content p {
  background-color: #FFFFFF;
  /* border: 1px solid #000000; */
  border-radius: 5px;
  padding: 3px;
  margin-top: 5px !important;
  box-shadow: 3px 3px 1px #c3c3c3;
}

.avatar {
  min-height: 50px !important;
}

.avatar img {
  /* border: 1px solid red; */
  box-shadow: 1px 1px 5px #000000;
}

.menu {
  /* border: 1px solid red; */
  height: 100vh;
  position: fixed;
  color: #FFFFFF;
  box-shadow: 2px 2px 5px #c3c3c3;
  /* background-color: rgba(86, 248, 154, 0.582); */
  top: 0;
  background: #000000;
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to top, #ffffff, #FFE521); /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to top, rgb(255, 255, 255), #FFE521); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}

.menu div {
  padding-top: 15vh;
  font-size: 16px;
}

.btn {
  margin-right: 15px;
}

.offset-m0 {
  margin-left: 5vh !important;
}

div[data-box="marco"] p {
  margin: 1px;

}
.name-student {
  background-color: #b9f6ca;
  border: 4px solid #b9f6ca;
  text-align: center;
  font-weight: bold;
  box-shadow: 3px 3px 1px #cecece;
}
.image-student {
  text-align: center;  
 

}

 .star {
  color: #FF009E!important;
}

